.buy-products {
  background-color: #d8f3dc;
}

.buy-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-products-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card {
  box-sizing: border-box;
  margin: 1.5rem;
  width: 19rem;
  height: 17rem;
  background: #ffffff;
  border: 3px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.card-1-background-image {
  background-image: url("../images/AdobeStock_294254993-1024x647.jpeg");
  height: 78%;
  padding-top: 8px;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 15px;
}

.card-header {
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 10px;
  width: 8rem;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 15px;
}

.card-header h3 {
  margin: 0.2rem;
}

.card-info-1 {
  display: flex;
  justify-content: left;
}

.card-info-1 h3 {
  font-size: 13px;
  margin-left: 10px;
  margin-top: -20px;
}

.card-info-2 {
  display: flex;
  justify-content: left;
}

.card-info-2 p {
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -8px;
}

.info-button-card-1 {
  display: flex;
  justify-content: right;
  align-items: right;
}

.card-2-background-image {
  background-image: url("../images/morotter.jpg");
  height: 68%;
  padding-top: 8px;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 15px;
}

.card-2-info-1 {
  display: flex;
  justify-content: left;
  margin-top: 8px;
}

.card-2-info-1 h3 {
  font-size: 13px;
  margin-left: 10px;
  margin-top: 0;
}

.card-2-info-2 {
  display: flex;
  justify-content: left;
}

.card-2-info-2 p {
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -8px;
}

.info-button-card-2 {
  display: flex;
  justify-content: right;
  align-items: right;
}

.card-3-background-image {
  background-image: url("../images/applen.jpg");
  height: 69%;
  padding-top: 8px;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 15px;
}

.card-3-info-1 {
  display: flex;
  justify-content: left;
  margin-top: 8px;
}

.card-3-info-1 h3 {
  font-size: 13px;
  margin-left: 10px;
  margin-top: 0;
}

.card-3-info-2 {
  display: flex;
  justify-content: left;
}

.card-3-info-2 p {
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -8px;
}

.info-button-card-3 {
  display: flex;
  justify-content: right;
  align-items: right;
}

.info-button-click {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8f3dc;
  text-decoration: none;
  font-size: 1.6rem;
  margin-top: -60px;
  margin-bottom: 15px;
  margin-right: 20px;
  width: 50%;
  border-radius: 12px;
  border: 2px solid black;
  color: rgb(0, 0, 0);
}

@media all {
  .buy-products-container {
    display: flex;
    flex-wrap: wrap;
  }
}
