.product-info-container {
  margin: 2rem;
}

.product-info {
  margin: 1rem;
}

.product-info-input {
  margin: 2rem;
}

.input {
  border-style: hidden;
  border-radius: 15px;
  margin: 0.5rem;
  text-align: center;
  box-shadow: 15px;
  font-size: 25px;
  height: 40px;
  box-shadow: 0px 15px 10px -15px #111;
}

.quantity-input {
  border-style: hidden;
  border-radius: 15px;
  margin: 0.5rem;
  margin-left: 3.2rem;
  text-align: center;
  box-shadow: 15px;
  font-size: 25px;
  height: 40px;
  width: 10rem;
  box-shadow: 0px 15px 10px -15px #111;
}

.price-input {
  border-style: hidden;
  border-radius: 15px;
  margin: 0.5rem;
  margin-left: 3.2rem;
  text-align: center;
  box-shadow: 15px;
  font-size: 25px;
  height: 40px;
  width: 10rem;
  box-shadow: 0px 15px 10px -15px #111;
}

.input-explainer {
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
}

.input-text-area {
  border-style: hidden;
  border-radius: 15px;
  margin: 0.5rem;
  text-align: center;
  box-shadow: 15px;
  font-size: 25px;
  height: 60px;
  box-shadow: 0px 15px 10px -15px #111;
}

.publish-button {
  background-color: #15b097;
  text-decoration: none;
  font-size: 20px;
  padding: 7px;
  padding-left: 6.2rem;
  padding-right: 6.2rem;
  width: 18.4rem;
  border-radius: 12px;
  border: none;
  color: #fff;
}

.sell-product-back-button {
  background-color: #15b097;
  text-decoration: none;
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 20px;
  padding: 7px;
  width: 18.4rem;
  border-radius: 12px;
  border: none;
  color: white;
}
